<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="way2automation">
	<parameter name="username" value="afernandes" />
	<parameter name="password" value="amanda23" />
	<parameter name="name" value="Amanda Fernandes" />
	<test name="Test">
    <classes>
	   <!--  	<class name="way2automation.w2atest.test.LoginAsValidUser"/>
    		<class name="way2automation.w2atest.test.AlertsTest" />
		<class name="way2automation.w2atest.test.RegisterAsUser" />-->
		<class name="way2automation.w2atest.test.DynamicButtons" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

